{% extends 'elements/base.html' %} {% block content %}
<div class="col-md-12">
    <div class="d-flex justify-content-between">
        <div class="input-group mb-3">
            <a class="btn btn-secondary" href="{{ request.META.HTTP_REFERER|default:'/' }}">&laquo; Back</a>
            <a class="btn btn-outline-dark disabled" > Audit Log </a>
        </div>
        <form method="get" class="align-self-center">
            <div class="input-group">
                <input class="form-control" type="text" name="search" value="{{ q }}" placeholder="Your query">
                <button class="btn btn-dark" type="submit">Search</button>
            </div>
        </form>
    </div>
    {% if audit_logs %}
    <div class="accordion" id="accordionServices">
        <div class="accordion-item">
            <div class="accordion-button collapsed">
                <div class="container text-start">
                    <div class="row">
                        <div class="col-2">Date:</div>
                        <div class="col-2"><a
                            class="nav-link dropdown-toggle"
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            >
                            User:
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'audit_log:list' %}">All</a></li>
                                <li><a class="dropdown-item" href="{% url 'audit_log:user' 0 %}">System</a></li>
                                {% for user in users %}
                                {% if user.id %}
                                <li><a class="dropdown-item" href="{% url 'audit_log:user' user.id %}">{{user.username}}</a></li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-8">Text:</div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'datatables/audit_logs.html' with audit_logs=audit_logs %}
    </div>
    <br />
    {% include 'elements/pagination.html' with objs=audit_logs %}
    {% else %}
    <br />
    <h3>No records yet </h3>
    <br />
    {% endif %}
</div>
{% endblock %}