db/
webapp/logging_system/website/migrations/
webapp/logging_system/website/__pycache__/
webapp/logging_system/logging_system/__pycache__/
webapp/logging_system/website/__pycache__/
webapp/logging_system/website/migrations/__pycache__/
webapp/logging_system/encoder.joblib
webapp/logging_system/kmeans.joblib
webapp/logging_system/celerybeat-schedule
webapp/logging_system/website/templates/devices_copy.html
webapp/logging_system/website/templates/devices_.html
webapp/logging_system/website/templates/devices__.html
webapp/logging_system/website/templates/elements.html
logging_system/celerybeat-schedule
logging_system/encoder.joblib
logging_system/kmeans.joblib
logging_system/website/migrations/
logging_system/website/__pycache__/
logging_system/scheluder/migrations/
logging_system/scheluder/__pycache__/
logging_system/logging_system/__pycache__/
logging_system/config/__pycache__/
logging_system/config/migrations/
logging_system/devices/migrations/
logging_system/services/migrations/
