db/
webapp/logging_system/website/migrations/
webapp/logging_system/website/__pycache__/
webapp/logging_system/logging_system/__pycache__/
webapp/logging_system/website/__pycache__/
webapp/logging_system/website/migrations/__pycache__/
webapp/logging_system/encoder.joblib
webapp/logging_system/kmeans.joblib
webapp/logging_system/celerybeat-schedule
webapp/logging_system/website/templates/devices_copy.html
webapp/logging_system/website/templates/devices_.html
webapp/logging_system/website/templates/devices__.html
