services:
  db:
    container_name: db_logging
    restart: always
    image: mysql:9.6
    ports:
      - 3306:3306
    env_file:
      - config.env
    volumes:
      - ./db:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 30s
      timeout: 10s
      retries: 5

  phpmyadmin:
    container_name: phpmyadmin_logging
    restart: always
    image: phpmyadmin:latest
    depends_on:
      db:
        condition: service_healthy
    ports:
      - 8081:80

  syslog-ng:
    container_name: syslog-ng
    restart: always
    depends_on:
      db:
        condition: service_healthy
    build: ./syslog-ng
    ports:
      - 5014:514/udp
      - 6001:601
    env_file:
      - config.env
    volumes:
      - ./logs:/var/log

  redis:
    container_name: redis_logging
    image: redis:8.4.0
    restart: always
    ports:
      - "6379:6379"
    env_file:
      - config.env
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5

  django:
    container_name: logging_system
    restart: always
    depends_on:
      db:
        condition: service_healthy
    build: "."
    command: ./script.sh
    volumes:
      - ./logging_system:/app/logging_system
    ports:
      - "80:80"
    env_file:
      - config.env
    healthcheck:
      test:
        ["CMD-SHELL", "curl --silent --fail http://localhost/health/ || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5

  celery:
    build: "."
    command: uv run celery -A logging_system worker -l info
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
      django:
        condition: service_healthy
    env_file:
      - config.env

  celery-beat:
    build: "."
    command: uv run celery -A logging_system beat -l info
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
      django:
        condition: service_healthy
    env_file:
      - config.env

  mailhog:
    container_name: mailhog
    image: mailhog/mailhog
    restart: always
    ports:
      - "1025:1025" # SMTP
      - "8025:8025" # Web UI
