{% extends 'elements/base.html' %} {% block content %}
<div class="col-md-12">
    {% if incidents %}
    <div class="input-group mb-3">
        <a class="btn btn-secondary" href="{{ request.META.HTTP_REFERER|default:'/' }}">&laquo; Back</a>
        <a class="btn btn-outline-dark disabled" > Create analysis </a>
        <a class="btn btn-dark">Today</a>
        <a class="btn btn-dark">Last Week</a>
        <a class="btn btn-dark">Last Month</a>
        <a class="btn btn-dark">Last Year</a>
    </div>
    <div class="accordion" id="accordionServices">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed">
                    <div class="container text-start">
                        <div class="row">
                            <div class="col-1">ID:</div>
                            <div class="col-2">Date:</div>
                            <div class="col-1">Time:</div>
                            <div class="col-2">System name:</div>
                            <div class="col-2"><a
                                class="nav-link dropdown-toggle"
                                href="#"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                                >
                                Tag:
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'incidents:list' %}">All</a></li>
                                    <li><a class="dropdown-item" href="{% url 'incidents:tag' 0 %}">System down</a></li>
                                    <li><a class="dropdown-item" href="{% url 'incidents:tag' 1 %}">Log anomaly detected</a></li>
                                </ul>
                            </div>
                            <div class="col-4">Title:</div>
                        </div>
                    </div>
                </button>
            </h2>
        </div>
        {% include 'datatables/incidents.html' with incidents=incidents %}
    </div>
    <br />
    {% include 'elements/pagination.html' with objs=incidents %}
    {% else %}
    <br />
    <h3>No incidents reported yet ;)</h3>
    <br />
    {% endif %}
</div>
{% endblock %}