{% for  audit_log in audit_logs %}
<div class="accordion-item">
    <div
        class="accordion-button collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#collapse{{ audit_log.id }}"
        aria-expanded="false"
        >
        <div class="container text-start">
            <div class="row">
                <div class="col-2">{{ audit_log.datetime }}</div>
                {% if audit_log.user %}
                <div class="col-2">{{ audit_log.user }}</div>
                {% else %}
                <div class="col-2">System</div>
                {% endif %}
                <div class="col-8">{{ audit_log.message }}</div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
