{% for incident in incidents %}
<div class="accordion-item">
    <h2 class="accordion-header" id="heading{{ incident.id }}">
        <button
            {% comment %} {% if dark %}
            class="accordion-button collapsed bg-dark text-light"
            {% else %} {% endcomment %}
            class="accordion-button collapsed"
            {% comment %} {% endif %} {% endcomment %}
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse{{ incident.id }}"
            aria-expanded="false"
            >
            <div class="container text-">
                <div class="row">
                    <div class="col-1">{{ incident.id }}</div>
                    <div class="col-2">{{ incident.date }} {{ incident.time }}</div>
                    <div class="col-2">{{ incident.system.name }}</div>
                    <div class="col-2">{{ incident.get_tag_display }}</div>
                    <div class="col-4">{{ incident.title }}</div>
                    {% if incident.user %}
                    <div class="col-1"> {{ incident.user.username }} </div>
                    {% else %}
                    <div class="col-1 text-danger"> No </div>
                    {% endif %}
                </div>
            </div>
        </button>
    </h2>
    <div
        id="collapse{{ incident.id }}"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionServices"
        >
        <div
            {% comment %} {% if dark %}
            class="accordion-body bg-dark text-light"
            {% else %} {% endcomment %}
            class="accordion-body"
            {% comment %} {% endif %} {% endcomment %}
            >
            <div class="btn-group" role="group">
                <a class="btn btn-success" href="{% url 'incidents:resolve' incident.id%}"> Resolve <a>
                <a href="{% url 'incidents:view' incident.id %}" class="btn btn-dark">
                View
                </a>
                <a href="{% url 'incidents:remove' incident.id %}" class="btn btn-danger"
                    >Remove</a
                    >
            </div>
        </div>
    </div>
</div>
{% endfor %}