{% extends 'elements/base.html' %} {% block content %}
<div class="col-md-6 offset-md-3">
    <form method="POST">
        {% csrf_token %} {% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Your form has Errors</strong>
            {% for field in form %} 
            {% if field.errors %} 
            {{ field.errors }} 
            {% endif %} {% endfor %}
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
                ></button>
        </div>
        {% endif %} 
        <br />
        <h1>
            Export log records to CSV
        </h1>
        <br />
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="form-group">
                        {{form.as_p}}
                    </div>
                </li>
            </ul>
        </div>
        <br />
        <button type="submit" class="btn btn-dark"> Export to CSV </button>
        <a 
        {% if system %}
        href="{% url 'systems:logs' system %}" 
        {% else %}
        href="{% url 'logs:list' %}" 
        {% endif %}
        class="btn btn-secondary"> Back </a>
    </form>
</div>
<br />
{% endblock %}