{% extends 'base.html' %} {% block content %}
<div class="col-md-6 offset-md-3">
    <form method="POST" action="{% url 'systems:add' %}">
        {% csrf_token %} {% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Your form has Errors</strong>
            {% for field in form %} 
            {% if field.errors %} 
            {{ field.errors }} 
            {% endif %} {% endfor %}
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"
                ></button>
        </div>
        {% endif %} 
        <br />
        <h1>
            Add system
        </h1>
        <br />
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="form-group">
                        {{ form.name.label_tag }}
                        {{ form.name }}
                        <div class="row">
                            <div class="col">
                                {{ form.ip.label_tag }}
                                {{ form.ip }}
                            </div>
                            <div class="col">
                                {{ form.system_type.label_tag }}
                                {{ form.system_type }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ form.to_ping.label_tag }}
                                {{ form.to_ping }}
                            </div>
                            <div class="col">
                                {{ form.email_notify.label_tag }}
                                {{ form.email_notify }}
                            </div>
                        </div>
                        {{ form.port.label_tag }}
                        {{ form.port }}
                        {{ form.model.label_tag }}
                        {{ form.model }}
                        <div class="row">
                            <div class="col">
                                {{ form.location.label_tag }}
                                {{ form.location }}
                            </div>
                            <div class="col">
                                <a href="{% url 'systems:list' %}" class="btn btn-secondary"> Add Location </a>
                            </div>
                        </div>
                        {{ form.notes.label_tag }}
                        {{ form.notes }}
                        <br />
                    </div>
                </li>
            </ul>
        </div>
        <br />
        <button type="submit" class="btn btn-dark"> Add </button>
        <a href="{% url 'systems:list' %}" class="btn btn-secondary"> Back </a>
    </form>
</div>
<br />
{% endblock %}