{% extends 'base.html' %} {% block content %}
  <div class="col-md-12 offset-md-0">
    {% if user.is_authenticated %}
    <br/>
      <div class="container text-center">
        <div class="row">

          <div class="col-7">

            <div class="row">
              <div class="col-5">

                {% if ping %}
                <div class="card bg-success">
                  <div class="card-body">
                    <h5 class="card-title text-light">Internet conectivity status:</h5>
                    <p class="card-text text-light">Internet connection is up.</p>
                    <p class="card-text text-light">
                      Your current latency is <strong>{{ ping }}</strong>
                    </p>
                  </div>
                </div>
                {% else %}
                <div class="card bg-danger">
                  <div class="card-body">
                    <h5 class="card-title text-light">Internet conectivity status:</h5>
                    <p class="card-text text-light">Internet connection is down.</p>
                    <p class="card-text text-light">
                      <strong>No connection to the internet !!!</strong>
                    </p>
                  </div>
                </div>
                {% endif %}

              </div>
              <div class="col-7">

                <div id="ping-plot">{{ labels_graph|safe }}</div>

              </div>
            </div>

            <div class="col-12">
              <div class="card">
                <div class="card-header"><strong>Last 5 logs</strong></div>
                {% if logs %}
                <table class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th scope="col">
                        <a
                          class="text-dark"
                          style="text-decoration: none"
                          href="?sort=-id{% if label %}&label={{label}}{% endif %}"
                        >
                          Datetime
                        </a>
                        <th scope="col">
                          <a
                            class="text-dark"
                            style="text-decoration: none"
                            href="?sort=host{% if label %}&label={{label}}{% endif %}"
                          >
                            Host
                          </a>
                        </th>
                      </th>
                      <th scope="col">
                        <a
                          class="text-dark"
                          style="text-decoration: none"
                          href="?sort=tags{% if label %}&label={{label}}{% endif %}"
                        >
                          Program
                        </a>
                      </th>
                      <th scope="col">
                        <a
                          class="nav-link dropdown-toggle"
                          href="#"
                          role="button"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                          Label
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="?label=0">0</a></li>
                          <li><a class="dropdown-item" href="?label=1">1</a></li>
                          <li><a class="dropdown-item" href="?label=2">2</a></li>
                          <li><a class="dropdown-item" href="?label=3">3</a></li>
                          <li><a class="dropdown-item" href="?label=4">4</a></li>
                          <li><a class="dropdown-item" href="?label=5">5</a></li>
                          <li><a class="dropdown-item" href="?label=6">6</a></li>
                          <li><a class="dropdown-item" href="?label=7">7</a></li>
                          <li><a class="dropdown-item" href="?label=8">8</a></li>
                          <li><a class="dropdown-item" href="?label=9">9</a></li>
                        </ul>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for log in logs %}
                    <tr>
                      <td>{{ log.datetime }}</td>
                      <td>{{ log.host }}</td>
                      <td>{{ log.program }}</td>
                      <td>{{ log.label }}</td>
                    </tr>
                    <tr>
                      <td colspan="4" class="text-center">{{ log.message }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            {% endif %}
            
          </div>

          <div class="col-5">

            {% comment %} Devices Down {% endcomment %}

            {% if devices_d %}
            <div class="card bg-danger">
              <div class="card-header bg-danger text-light">Devices down</div>
              <div class="accordion" id="accordionDevices">
                {% for device in devices_d %}
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="heading{{ service.id }}">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ device.id }}" aria-expanded="false">
                        <div class="container text-start">
                          <div class="row">
                            <div class="col">{{ device.name }}</div>
                            <div class="col">{{ device.ip }}</div>
                            <div class="col">{{ device.model }}</div>
                            <div class="col">{{ device.last_log }}</div>
                          </div>
                        </div>
                      </button>
                    </h2>
                    <div id="collapse{{ device.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionDevices">
                      <div class="accordion-body">
                        <div id="ping-plot">{{ device.graph|safe }}</div>
                        <div class="btn-group" role="group">
                          {% if device.port %}
                            <a href="http://{{ device.ip }}:{{ device.port }}" class="btn btn-primary">Connect</a>
                          {% endif %} {% if device.last_log %}
                            <a href="{% url 'devices:logs' device.id %}" class="btn btn-dark">Logs</a>
                          {% endif %}
                          <a href="{% url 'devices:edit' device.id %}" class="btn btn-secondary">Edit</a>
                          <a href="{% url 'devices:remove' device.id %}" class="btn btn-danger">Remove</a>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
            {% else %}
            <div class="card bg-success">
              <div class="card-header bg-success text-light">Devices Up</div>
              <div class="card-body bg-light">
                <p class="card-text text-center">
                  Nothing to show here
                </p>
              </div>
            </div>
            {% endif %}

            <br/>
            {% comment %} Services Down {% endcomment %}
            <br/>

            {% if services_d %}
            <div class="card bg-danger">
              <div class="card-header bg-danger text-light"> Services down</div>
            <div class="accordion" id="accordionDevices">
              {% for service in services_d %}
                <div class="accordion-item">
                  <h2 class="accordion-header" id="heading{{ service.id }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ service.id }}" aria-expanded="false">
                      <div class="container text-start">
                        <div class="row">
                          <div class="col">{{ service.name }}</div>
                          <div class="col">{{ service.ip }}</div>
                          <div class="col">{{ service.model }}</div>
                          <div class="col">{{ service.last_log }}</div>
                        </div>
                      </div>
                    </button>
                  </h2>
                  <div id="collapse{{ service.id }}" class="accordion-collapse collapse" data-bs-parent="#accordionServices">
                    <div class="accordion-body">
                      <div id="ping-plot">{{ service.graph|safe }}</div>
                      <div class="btn-group" role="group">
                        {% if service.port %}
                          <a href="http://{{ service.ip }}:{{ service.port }}" class="btn btn-primary">Connect</a>
                        {% endif %} {% if service.last_log %}
                          <a href="{% url 'services:logs' service.id %}" class="btn btn-dark">Logs</a>
                        {% endif %}
                        <a href="{% url 'services:edit' service.id %}" class="btn btn-secondary">Edit</a>
                        <a href="{% url 'services:remove' service.id %}" class="btn btn-danger">Remove</a>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
            {% else %}
            <div class="card bg-success">
              <div class="card-header bg-success text-light">Services Up</div>
              <div class="card-body bg-light">
                <p class="card-text text-center">
                  Nothing to show here
                </p>
              </div>
            </div>
            {% endif %}


          </div>
        </div>
      </div>
    {% else %}
      <br />
      <h1>Log in</h1>
      <br />
      <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}

        <div class="mb-3">
          <label class="form-label">Your username</label>
          <input type="text" class="form-control" name="username" placeholder="Your name" required />
        </div>
        <div class="mb-3">
          <label class="form-label">Your password</label>
          <input type="password" class="form-control" name="password" placeholder="Password" required />
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
      </form>
    {% endif %}
  </div>
{% endblock %}
