{% extends 'base.html' %}
{% block content %}
<div class="col-md-8 offset-md-2">
    <div class="input-group mb-3">
        <a class="btn btn-secondary" href="{% url 'incidents:list' %}">&laquo; Back</a>
        <a class="btn btn-outline-dark disabled" > Incident {{ incident.id }} </a>
    </div>
    {% if incident %}
    <div class="card">
        <div class="card-body card-header">
            <h5 class="card-title ">Incident #{{incident.id}}</h5>
            <p class="card-text">{{incident.message}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Incident date: </strong>{{incident.date}} </li>
            <li class="list-group-item"><strong>Incident time: </strong>{{incident.time}}</li>
            <li class="list-group-item"><strong>Incident tag: </strong>{{incident.get_tag_display}}</li>
            <li class="list-group-item"><strong>System IP address: </strong>{{incident.system.ip}}</li>
        </ul>
        <div class="card-body">
            <div class="input-group mb-3">
                <a class="btn btn-dark" href="{% url 'systems:list' %}"> View System </a>
                <a class="btn btn-danger" href="{% url 'incidents:remove' incident.id %}"> Remove </a>
            </div>
        </div>
    </div>
    <br/>
    <div class="card">
        <div class="card-header">
            Discussion
        </div>
        <ul class="list-group list-group-flush">
            {% if comments %}
            {% for comment in comments %}
            <li class="list-group-item">
                <p><strong>{{ comment.date }} at {{comment.time}} {{ comment.user.username }} said:</strong></p>
                <div class="card-footer text-muted">
                    {{ comment.message}}
                </div>
            </li>
            {% endfor %}
            {% else %}
            <li class="list-group-item">
                <p><strong>No comments yet.</strong></p>
            </li>
            {% endif %}
            <li class="list-group-item">
                <form method="POST" >
                    {% csrf_token %} {% if form.errors %}
                    <p>Your comment:</p>
                    {% comment %} {{ form.message.label_tag }} {% endcomment %}
                    <div class="input-group">
                        {{ form.message }}
                        {% endif %}
                        <button type="submit" class="btn btn-dark"> Submit </button>
                    </div>
                </form>
            </li>
        </ul>
    </div>
    {% else %}
    <h2> Error 404, incident not found </h2>
    {% endif %}
</div>
<br/>
{% endblock %}