{% extends 'base.html' %} {% block content %}
<div class="col-md-12">
    <div class="input-group mb-3">
        <a class="btn btn-secondary" href="{% url 'home' %}">&laquo; Back</a>
        <a class="btn btn-outline-dark disabled" > Logs </a>
    </div>
    {% if logs %}
    <div class="accordion" id="accordionServices">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed">
                    <div class="container text-start">
                        <div class="row">
                            <div class="col-2">Datetime:</div>
                            <div class="col-2">IP Address:</div>
                            <div class="col-2">Program:</div>
                            <div class="col-1">
                                <a
                                    class="nav-link dropdown-toggle"
                                    href="#"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                    >
                                Label:
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'logs' %}">All</a></li>
                                    {% for cluster in clusters %}
                                        <li><a class="dropdown-item" href="{% url 'label' cluster %}"> {{ cluster }} </a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-5">Message:</div>
                        </div>
                    </div>
                </button>
            </h2>
        </div>
        {% include 'datatables/logs.html' with logs=logs %}
    </div>
    <br />
    <nav>
        <ul class="pagination">
            {% if logs.has_previous %}
            <li class="page-item">
                <a
                    class="page-link"
                    href="?page=1{% if label %}&label={{label}}{% endif %}{% if sort %}&sort={{sort}}{% endif %}"
                    >
                <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a
                    class="page-link"
                    href="?page={{ logs.previous_page_number }}{% if sort %}&sort={{sort}}{% endif %}{% if label %}&label={{label}}{% endif %}"
                    >Previous</a
                    >
            </li>
            {% endif %}
            <li class="page-item disabled">
                <a class="page-link" href="#"
                    >{{ logs.number }} of {{ logs.paginator.num_pages }}</a
                    >
            </li>
            {% if logs.has_next %}
            <li class="page-item">
                <a
                    class="page-link"
                    href="?page={{ logs.next_page_number }}{% if label %}&label={{label}}{% endif %}{% if sort %}&sort={{sort}}{% endif %}"
                    >Next</a
                    >
            </li>
            <li class="page-item">
                <a
                    class="page-link"
                    href="?page={{ logs.paginator.num_pages }}{% if label %}&label={{label}}{% endif %}{% if sort %}&sort={{sort}}{% endif %}"
                    >
                <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% else %}
    <br />
    <h3>No logs data yet</h3>
    <br />
    {% endif %}
</div>
{% endblock %}