{% extends 'base.html' %} {% block content %}
<div class="col-md-12">
  <br />
  <h4>
    <a class="btn btn-dark" href="{% url 'services' %}">&laquo; Back</a> {{ host.name }}'s logs
  </h4>
  <br />
  {% if logs %}
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">
          <a
            class="text-dark"
            style="text-decoration: none"
            href="?sort=-id{% if label %}&label={{label}}{% endif %}"
          >
            Datetime
          </a>
        </th>
        <th scope="col">
          <a
            class="text-dark"
            style="text-decoration: none"
            href="?sort=tags{% if label %}&label={{label}}{% endif %}"
          >
            Program
          </a>
        </th>
        <th scope="col">
          <a
            class="text-dark"
            style="text-decoration: none"
            href="?sort=message{% if label %}&label={{label}}{% endif %}"
          >
            Message
          </a>
        </th>
        <th scope="col">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Label
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="?label=0">0</a></li>
            <li><a class="dropdown-item" href="?label=1">1</a></li>
            <li><a class="dropdown-item" href="?label=2">2</a></li>
            <li><a class="dropdown-item" href="?label=3">3</a></li>
            <li><a class="dropdown-item" href="?label=4">4</a></li>
            <li><a class="dropdown-item" href="?label=5">5</a></li>
            <li><a class="dropdown-item" href="?label=6">6</a></li>
            <li><a class="dropdown-item" href="?label=7">7</a></li>
            <li><a class="dropdown-item" href="?label=8">8</a></li>
            <li><a class="dropdown-item" href="?label=9">9</a></li>
          </ul>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for log in logs %}
      <tr>
        <td>{{ log.datetime }}</td>
        <td>{{ log.program }}</td>
        <td>{{ log.message }}</td>
        <td>{{ log.label }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <nav>
    <ul class="pagination">
      {% if logs.has_previous %}
      <li class="page-item">
        <a
          class="page-link"
          href="?page=1{% if label %}&label={{label}}{% endif %}{% if sort %}&sort={{sort}}{% endif %}"
        >
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a
          class="page-link"
          href="?page={{ logs.previous_page_number }}{% if sort %}&sort={{sort}}{% endif %}{% if label %}&label={{label}}{% endif %}"
          >Previous</a
        >
      </li>
      {% endif %}

      <li class="page-item disabled">
        <a class="page-link" href="#"
          >{{ logs.number }} of {{ logs.paginator.num_pages }}</a
        >
      </li>

      {% if logs.has_next %}
      <li class="page-item">
        <a
          class="page-link"
          href="?page={{ logs.next_page_number }}{% if label %}&label={{label}}{% endif %}{% if sort %}&sort={{sort}}{% endif %}"
          >Next</a
        >
      </li>
      <li class="page-item">
        <a
          class="page-link"
          href="?page={{ logs.paginator.num_pages }}{% if label %}&label={{label}}{% endif %}{% if sort %}&sort={{sort}}{% endif %}"
        >
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% else %}
  <br />
  <h3>No logs data yet</h3>
  <br />
  {% endif %}
</div>
{% endblock %}
