{% extends 'elements/base.html' %} {% block content %}
<div class="col-md-12 offset-md-0">
    {% if user.is_authenticated %}
    <div class="container text-center">
        <div class="col-12">
            {% include 'elements/carousel.html' with statistics=statistics %}
        </div>
        <br/>
        <div class="col-12">
            {% if incidents %}
            <div class="accordion" id="accordionServices">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed">
                            <div class="container text-start">
                                <div class="row">
                                    <div class="col-1">ID:</div>
                                    <div class="col-2">Date:</div>
                                    <div class="col-2">System name:</div>
                                    <div class="col-2">
                                        <a
                                            class="nav-link dropdown-toggle"
                                            href="#"
                                            role="button"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false"
                                            >
                                        Tag:
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="{% url 'incidents:list' %}">All</a></li>
                                            <li><a class="dropdown-item" href="{% url 'incidents:list' 0 %}">System down</a></li>
                                            <li><a class="dropdown-item" href="{% url 'incidents:list' 1 %}">Log anomaly detected</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-4">Title:</div>
                                </div>
                            </div>
                        </button>
                    </h2>
                </div>
                <div style="max-height: 24rem; overflow-y: auto;">
                {% include 'datatables/incidents.html' with incidents=incidents %}
                </div>
            </div>
            {% endif %}
            <br/>
            {% if ping %}
            <div class="card bg-success">
                <div class="card-body text-light">
                    Internet conectivity status: <strong>UP</strong> Current latency: <strong>{{ping}}</strong> Current IP address: <strong>{{ip}}</strong>
                </div>
            </div>
            {% else %}
            <div class="card bg-danger">
                <div class="card-body text-light">
                    Internet conectivity status: <strong>No Connection</strong>.
                </div>
            </div>
            {% endif %}
            <br/>    
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}