{% extends 'elements/base.html' %} {% block content %}
<div class="col-md-12">
    <div class="d-flex justify-content-between">
        <div class="btn-group mb-3">
            <button class="btn btn-secondary"> <a class="text-decoration-none text-white"  href="{{ request.META.HTTP_REFERER|default:'/' }}">&laquo; Back</a></button>
            <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                {% if system %}
                {{ system }}'s logs
                {% else %}
                All logs
                {% endif %}
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'logs:list' %}">All</a></li>
                {% if systems %}
                {% for system in systems %}
                    <li><a class="dropdown-item" href="{% url 'systems:logs' system.id %}"> {{ system }} </a></li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
        <form method="get" class="align-self-center">
            <div class="input-group">
                <input class="form-control" type="text" name="search" value="{{ q }}" placeholder="Your query">
                <button class="btn btn-dark" type="submit">Search</button>
            </div>
        </form>
    </div>
    {% if logs %}
    <div class="accordion" id="accordionServices">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed">
                    <div class="container text-start">
                        <div class="row">
                            <div class="col-2">Datetime:</div>
                            <div class="col-2">IP Address:</div>
                            <div class="col-2">Program:</div>
                            <div class="col-1">
                                <a
                                    class="nav-link dropdown-toggle"
                                    href="#"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                    >
                                Label:
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'logs:list' %}">All</a></li>
                                    {% if clusters %}
                                    {% for cluster in clusters %}
                                        <li><a class="dropdown-item" href="{% url 'logs:label' cluster %}"> {{ cluster }} </a></li>
                                    {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="col-5">Message:</div>
                        </div>
                    </div>
                </button>
            </h2>
        </div>
        {% include 'datatables/logs.html' with logs=logs %}
    </div>
    <br />
    {% include 'elements/pagination.html' with objs=logs %}
    {% else %}
    <br />
    <h3>No logs data yet</h3>
    <br />
    {% endif %}
</div>
{% endblock %}