{% extends 'elements/base.html' %} {% block content %}
<div class="col-10 offset-1">
    <form method="POST">
        {% csrf_token %} {% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Your form has Errors</strong>
            {% for field in form %} 
            {% if field.errors %} 
            {{ field.errors }} 
            {% endif %} {% endfor %}
        </div>
        {% endif %}
        <br />
        <h1>
            Settings
        </h1>
        <br />
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="card-header" style='list-style-type: none;'>
                    <div class="form-group">
                        <br />
                        <h5>Main settings</h5>
                        <div class="row">
                            <div class="col">
                                {{ form.contact_email.label_tag }}
                                {{ form.contact_email }}
                            </div>
                            <div class="col">
                                {{ form.maintenance_mode.label_tag }}
                                {{ form.maintenance_mode }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ form.items_per_page.label_tag }}
                                {{ form.items_per_page }}
                            </div>
                            <div class="col">
                                {{ form.ping_retries.label_tag }}
                                {{ form.ping_retries }}
                            </div>
                            <div class="col">
                                {{ form.ping_interval.label_tag }}
                                {{ form.ping_interval }}
                            </div>
                            <div class="col">
                                {{ form.graph_interval.label_tag }}
                                {{ form.graph_interval }}
                            </div>
                        </div>
                        <br />
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="form-group">
                        <br />
                        <h5>Email settings</h5>
                        {{ form.notifications_mode.label_tag }}
                        {{ form.notifications_mode }}
                        <br/>
                    </div>
                </li>
                <li class="card-header" style='list-style-type: none;'>
                    <div class="form-group">
                        <br />
                        <h5>Machine Learning Settings</h5>
                        <p>Step 1 Log grouping (optional)</p>
                        <div class="row">
                            <div class="col-4">
                                Data preprocessor
                                {{ form.s1_vectorizer }}
                            </div>
                            <div class="col-8">
                                Hyper parameters
                                {{ form.s1_vectorizer_parameters }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                Clustering algorithm
                                {{ form.s1_clusterer }}
                            </div>
                            <div class="col-8">
                                Hyper parameters
                                {{ form.s1_clusterer_parameters }}
                            </div>
                        </div>
                        <br />
                        <p>Step 2 log anomaly detection<p>
                        <div class="row">
                            <div class="col-4">
                                Data preprocessor
                                {{ form.s2_vectorizer }}
                            </div>
                            <div class="col-8">
                                Hyper parameters
                                {{ form.s2_vectorizer_parameters }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                Clustering algorithm
                                {{ form.s2_clusterer }}
                            </div>
                            <div class="col-8">
                                Hyper parameters
                                {{ form.s2_clusterer_parameters }}
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            {{ form.ml_hyper_parametrs.label_tag }}
                            {{ form.ml_hyper_parameters }}
                        </div>
                        <div class="row">
                            <div class="col">
                                Training dataset size
                                {{ form.ml_train }}
                            </div>
                            <div class="col">
                                Training interval
                                {{ form.ml_train_interval }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Classification dataset size
                                {{ form.ml_classify }}
                            </div>
                            <div class="col">
                                Classification interval
                                {{ form.ml_classify_interval }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {{ form.on_model_change_reset.label_tag }}
                                {{ form.on_model_change_reset }}
                            </div>
                            <div class="col">
                                {{ form.ml_anomaly_cluster.label_tag }}
                                {{ form.ml_anomaly_cluster }}
                            </div>
                            <div class="col text-center">
                                <br/>
                                <a class="btn btn-danger" href="{% url 'config:reset_ml' %}">Reset ML configuration</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <br />
        <button type="submit" class="btn btn-dark">Save</button>
        <a class="btn btn-danger" href="{% url 'config:reset' %}">Reset</a>
        <a class="btn btn-secondary" href="{{ request.META.HTTP_REFERER|default:'/' }}">Back</a>
    </form>
    </br>
</div>
{% endblock %}