{% extends 'base.html' %}

{% block content %}
<div class="col-md-10 offset-md-1">

    {% if devices %}
        <a class="btn btn-dark" href="{% url 'add_device' %}">
            Add Device
        </a>
        <br/>
        <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">IP</th>
                <th scope="col">Model</th>
                <th scope="col">Location</th>
                <th scope="col">Last log</th>
              </tr>
            </thead>
            <tbody>
                {% for obj in devices %}
                <tr>
                    <td>{{ obj.id }}</td>
                    <td>{{ obj.name }}</td>
                    <td>{{ obj.ip }}</td>
                    <td>{{ obj.model }}</td>
                    <td>{{ obj.location }}</td>
                    <td>{{ obj.last_log }}</td>
                    <td>
                        <a href="{% url 'device_logs' obj.id %}" class="btn btn-dark"> Logs </a>
                        <span> </span>
                        <a href="{% url 'edit_device' obj.id %}" class="btn btn-secondary"> Edit </a>
                        <span> </span>
                        <a href="{% url 'remove_device' obj.id %}" class="btn btn-danger">Remove</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if devices.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ devices.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ devices.number }} of {{ devices.paginator.num_pages }}.
                </span>
        
                {% if devices.has_next %}
                    <a href="?page={{ devices.next_page_number }}">next</a>
                    <a href="?page={{ devices.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <br/>
            <h1>
                No devices yet
            </h1>
        <br/>
    {% endif %}
</div>
{% endblock %}