{% extends 'base.html' %}

{% block content %}
<div class="col-md-8 offset-md-2">

    {% if classified_data %}
        <br/>
            <h1>
                Archive
            </h1>
        <br/>
        <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">ML Model</th>
                <th scope="col">Date</th>
                <th scope="col">Size</th>
              </tr>
            </thead>
            <tbody>
                {% for obj in classified_data %}
                <tr>
                    <td>{{ obj.id }}</td>
                    <td>{{ obj.name }}</td>
                    <td>{{ obj.model_type }}</td>
                    <td>{{ obj.date }}</td>
                    <td>{{ obj.size }}</td>
                    <td><a href="{% url 'classified_data' obj.id %}" class="btn btn-dark">View</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <br/>
            <h1>
                No classified data yet
            </h1>
        <br/>
    {% endif %}
</div>
{% endblock %}