{% extends 'base.html' %}
{% block content %}
<div class="col-md-8 offset-md-2">
    <br/>

    <br/>
    {% comment %} <tr>
        <td>
            <a class="btn btn-outline-dark" href="#"> K-Means </a>
        </td>
        <td>
            <a class="btn btn-outline-dark" href="{% url 'add_model' %}"> Bissecting K-Means </a>
        </td>
        <td>
            <a class="btn btn-outline-dark" href="#">  AgglomerativeClustering </a>
        </td>
        <td>
            <a class="btn btn-outline-dark" href="#"> Mean-Shift </a>
        </td>
        <td>
            <a class="btn btn-outline-dark" href="{#"> Ward hierarchical clustering </a>
        </td>
    </tr> {% endcomment %}
    {% if models %}
    {% comment %} {% for log in logs %}
    {{ log.message }}
    {% endfor %} {% endcomment %}
        <br/>
            <a class="btn btn-outline-dark" href="{% url 'add_model' %}">
                Add new model!
            </a>
        <br/>
        <br/>
        <br/>
        <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Args</th>
              </tr>
            </thead>
            <tbody>
                {% for model in models %}
                <tr>
                    <td>{{ model.id }}</td>
                    <td>{{ model.name }}</td>
                    <td>{{ model.model_type }}</td>
                    <td>{{ model.args }}</td>
                    <td><a class="btn btn-outline-dark" href='#'>Prediction</a></td>
                    {% comment %} <td>{{ length(dataset.train_set)/dataset.count*100 }}</td>
                    <td>{{ length(dataset.test_set)/dataset.count*100 }}</td> {% endcomment %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    <br/>
    <br/>
    <br/>
        <h3 class="text-center">
            No models yet... <a href="{% url 'add_model' %}">
                add one
            </a>
        </h3> 
    {% endif %}

</div>
{% endblock %}