{% extends 'base.html' %}
{% block content %}
<div class="col-md-8 offset-md-2">
    <br/>
    <tr>
        <td>
            <strong>Add new model: </strong>
        </td>
        <td>
            <a class="btn btn-outline-light" href="#"> K-Means </a>
        </td>
        <td>
            <a class="btn btn-outline-light" href="#"> Bissecting K-Means </a>
        </td>
        <td>
            <a class="btn btn-outline-light" href="#">  AgglomerativeClustering </a>
        </td>
        <td>
            <a class="btn btn-outline-light" href="#"> Mean-Shift </a>
        </td>
        <td>
            <a class="btn btn-outline-light" href="{#"> Ward hierarchical clustering </a>
        </td>
    </tr>
    {% if models %}
    {% comment %} {% for log in logs %}
    {{ log.message }}
    {% endfor %} {% endcomment %}
        <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Accuracy</th>
              </tr>
            </thead>
            <tbody>
                {% for model in models %}
                <tr>
                    <td>{{ model.id }}</td>
                    <td>{{ model.name }}</td>
                    <td>{{ model.model_type }}</td>
                    <td>{{ model.args }}</td>
                    <td>{{ model.accuracy }}</td>
                    {% comment %} <td>{{ length(dataset.train_set)/dataset.count*100 }}</td>
                    <td>{{ length(dataset.test_set)/dataset.count*100 }}</td> {% endcomment %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    <br/>
    <br/>
    <br/>
        <h1>
            No Models yet!
        </h1> 
    {% endif %}

</div>
{% endblock %}