# ML
scikit-learn
numpy
pandas
plotly
minisom

# backend
django
celery
django-celery-beat
 
# db
# mysql
mysql-connector-python
mysql-connector
mysqlclient
redis

# file
joblib

#utils
ping3
requests

