# ML
scikit-learn
numpy
pandas
plotly
sklearn_minisom
minisom>=2.3.3
# backend
django
celery
django-celery-beat
 
# db
# mysql
mysql-connector-python
mysql-connector
mysqlclient
redis

# file
joblib

#utils
ping3
requests

