
        <div>
            <div id="featuredStatistics" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#featuredStatistics" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#featuredStatistics" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#featuredStatistics" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card bg-dark">
                            <div class="card-body text-light">
                                <div class="row">
                                    <div class="col">
                                        <h5>Incidents Statistics</h5>
                                        <p>Incidents Count: <strong>{{statistics.incident_count}}</strong></p>
                                        <p>Resolved Incidents: <strong class="text-success">{{statistics.incident_resolved_count}}</strong></p>
                                        {% if statistics.incident_resolved_ratio < 80 %}
                                        <p>Resolved Incidents Ratio: <strong class="text-danger">{{statistics.incident_resolved_ratio}}&percnt;</strong></p>
                                        {% else %}
                                        <p>Resolved Incidents Ratio: <strong class="text-success">{{statistics.incident_resolved_ratio}}&percnt;</strong></p>
                                        {% endif %}
                                        <br/>
                                        <a href="{% url 'incidents:list' %}" class="btn btn-primary" style="width: auto;" > View Incidents </a>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <h5>Per Category: </h5>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p></p>
                                            </div>
                                            <div class="col">
                                                <p>Log Anomalies:</p>
                                            </div>
                                            <div class="col">
                                                <p>Offline Systems:</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p>Incident Count: </p>
                                            </div>
                                            <div class="col">
                                                <p>{{statistics.incident_tag1_count}}</p>
                                            </div>
                                            <div class="col">
                                                <p>{{statistics.incident_tag0_count}} </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p>Unresolved Ratio: </p>
                                            </div>
                                            <div class="col">
                                                {% if statistics.incident_tag1_ratio > 25 %}
                                                <p class="text-danger">{{statistics.incident_tag1_ratio}}&percnt;</p>
                                                {% else %}
                                                <p class="text-success">{{statistics.incident_tag1_ratio}}&percnt;</p>
                                                {% endif %}
                                            </div>
                                            <div class="col">
                                                {% if statistics.incident_tag0_ratio > 25 %}
                                                <p class="text-danger">{{statistics.incident_tag0_ratio}}&percnt;</p>
                                                {% else %}
                                                <p class="text-success">{{statistics.incident_tag0_ratio}}&percnt;</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card bg-dark">
                            <div class="card-body text-light">
                                <div class="row">
                                    <div class="col">
                                        <h5>Logs Statistics</h5>
                                        <p>Logs Count: <strong>{{statistics.log_count}}</strong></p>
                                        <p>Anomaly logs Count: <strong>{{statistics.log_anomaly_count}}</strong></p>
                                        {% if statistics.log_anomaly_ratio > 10 %}
                                        <p>Anomaly Logs Ratio: <strong class="text-danger">{{statistics.log_anomaly_ratio}}&percnt;</strong></p>
                                        {% else %}
                                        <p>Anomaly Logs Ratio: <strong class="text-success">{{statistics.log_anomaly_ratio}}&percnt;</strong></p>
                                        {% endif %}
                                        <br/>
                                        <a href="{% url 'logs:list' %}" class="btn btn-primary" style="width: auto;" > View Logs </a>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <p>System IP: </p>
                                            </div>
                                            <div class="col">
                                                <p>Anomaly Records: </p>
                                            </div>
                                        </div>
                                        {% for obj in statistics.log_devices_anomaly %}
                                        <div class="row">
                                            <div class="col">
                                                <p>{{ obj.host }} </p>
                                            </div>
                                            <div class="col text-danger">
                                                <p>{{ obj.count }} </p>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <br/>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card bg-dark">
                            <div class="card-body text-light">
                                <div class="row">
                                <div class="col">
                                    <h5>System Statistics</h5>
                                    <p>System Count: <strong>{{statistics.system_count}}</strong></p>
                                    <p>System Down Count: <strong class="text-danger">{{statistics.system_down_count}}</strong></p>
                                    {% if statistics.system_down_ratio > 10 %}
                                    <p>System Down Ratio: <strong class="text-danger">{{statistics.system_down_ratio}}&percnt;</strong></p>
                                    {% else %}
                                    <p>System Down Ratio: <strong class="text-success">{{statistics.system_down_ratio}}&percnt;</strong></p>
                                    {% endif %}
                                    <br/>
                                    <a href="{% url 'systems:list' %}" class="btn btn-primary" style="width: auto;" > View Systems </a>
                                </div>
                                <div class="col">
                                    <p>Recent Offline Systems: </p>
                                    {% for obj in statistics.system_systems_down %}
                                    <p>{{ obj }} </p>
                                    {% endfor %}
                                </div>
                                </div>
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#featuredStatistics" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#featuredStatistics" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
