<!-- Navbar with fixed position at the top -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Logging System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if user.is_authenticated %}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'systems:list' %}">Systems</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'incidents:list' %}">Incidents</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logs:list' %}">Logs</a>
                </li>
                {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'settings' %}">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'audit_log:list' %}">Audit Log</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}">Admin Panel</a>
                </li>
                {% endif %}
            </ul>
            <span class="navbar-text"> Hello {{ user.username }}! &nbsp; </span>
            <a class="btn btn-outline-light" href="{% url 'logout' %}">Log out</a>
            {% endif %}
        </div>
    </div>
</nav>